{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wrap_backet">
        <h1 class="profile_h1">Профиль</h1>
        <div class="profile_information">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <h3>{{user.phone_number}}</h3>
        </div>

        <div class="backet_address">
            <h2 class="profile_address">Ваши адреса</h2>
            <div class="backet_address_container">
                <div class="backet_address_container_text">
                    <h3>Россия, г. Кемерово, ул. Ноградская 5 – 404</h3>
                    <p>Напротив бара Суприм</p>
                </div>
                <div class="backet_address_container_ticket">
                    <img src="img/ticket.svg" alt="">
                </div>
            </div>

            <div class="backet_address_container">
                <div class="backet_address_container_text">
                    <p>Добавить адрес</p>
                </div>
                <div class="backet_address_container_ticket">
                    <img src="img/little_plus.svg" alt="">
                </div>
            </div>

            <div class="profile_button">
                <a href="">Связаться с нами</a>
            </div>
        </div>

        <div class="profile_list">
<!--            <div class="profile_list_info">-->
<!--                <p class="grey_profile">Редактировать профиль</p>-->
<!--                <img src="img/little_arrow.svg" alt="">-->
<!--            </div>-->
            <div class="profile_list_info">
                <p class="grey_profile">Ответы на вопросы</p>
                <img src="img/little_arrow.svg" alt="">
            </div>
            <div class="profile_list_info">
                <p class="grey_profile">Правила и соглашения</p>
                <img src="img/little_arrow.svg" alt="">
            </div>
            <div class="profile_list_info">
                <p class="red_profile"><a href="{%url 'logout'%}", style="color:red">Выйти</a></p>
            </div>
        </div>

        <div class="line"></div>

        <div class="backet_order">
            <h2>Ваша история заказов:</h2>
            <div class="backet_order_container">
                <div class="backet_order_block">
                    <div class="backet_order_block_text">
                        <h3>14:58 13 июля 2021</h3>
                        <h4>Заказ № 830048</h4>
                        <p>10¥  <span>(100 SWT)</span></p>
                    </div>
                    <div class="backet_order_block_img">
                        <img src="img/ticket.svg" alt="">
                    </div>
                </div>
                <div class="backet_order_block">
                    <div class="backet_order_block_text">
                        <h3>14:58 13 июля 2021</h3>
                        <h4>Заказ № 830048</h4>
                        <p>10¥  <span>(100 SWT)</span></p>
                    </div>
                    <div class="backet_order_block_img">
                        <img src="img/ticket.svg" alt="">
                    </div>
                </div>
                <div class="backet_order_block">
                    <div class="backet_order_block_text">
                        <h3>14:58 13 июля 2021</h3>
                        <h4>Заказ № 830048</h4>
                        <p>10¥  <span>(100 SWT)</span></p>
                    </div>
                    <div class="backet_order_block_img">
                        <img src="img/ticket.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="backet_order_container">
                <div class="backet_order_block">
                    <div class="backet_order_block_text">
                        <h3>14:58 13 июля 2021</h3>
                        <h4>Заказ № 830048</h4>
                        <p>10¥  <span>(100 SWT)</span></p>
                    </div>
                    <div class="backet_order_block_img">
                        <img src="img/ticket.svg" alt="">
                    </div>
                </div>
                <div class="backet_order_block">
                    <div class="backet_order_block_text">
                        <h3>14:58 13 июля 2021</h3>
                        <h4>Заказ № 830048</h4>
                        <p>10¥  <span>(100 SWT)</span></p>
                    </div>
                    <div class="backet_order_block_img">
                        <img src="img/ticket.svg" alt="">
                    </div>
                </div>
                <div class="backet_order_button">
                    <a href="#">См. все</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
