{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    .product_amount{color:white; outline:none; background: transparent; overflow: auto;text-align:center; border:none;}
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
</style>
<div class="wrap_main">
    <section class="products">
        <div class="products_container">
            {% for product in products %}
            <div class="products_block">
                <div class="products_block_button">
                    <a href="#"><img src="{% static 'img/like.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'img/repost.svg' %}" alt=""></a>
                </div>
                <div class="products_block_img">
                    <img src="{{product.RecPict.url}}" alt="">
                </div>
                <div class="products_block_desc">
                    <p class="products_block_desc_name">{{product.RecName}}</p>
                    <p class="products_block_desc_weight">{{product.RecWeight}}</p>
                </div>
                <div class="products_block_info" style="display:block">

<!--                        <a href="#" class="product_minus">-</a>-->
<!--                        <p class="product_amount">1</p>-->
<!--                        <a href="#" class="product_plus">+</a>-->
                        <form action="{% url 'cart:cart_add' product.RecID %}" method="post">
                            <div class="products_block_info_amount">
                            <a href="#" class="product_minus">-</a>
                            {% for hidden in cart_product_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in cart_product_form.visible_fields %}
                                {{ field|add_class:'product_amount' }}
                            {% endfor %}
                            <a href="#" class="product_plus">+</a>
                            {% csrf_token %}

                            </div>
                            <div class="products_block_info_amount">
                                <input type="submit" value="Add"
                                       style="color:white; background: transparent; text-align:center; border:none;">
                            </div>
                        </form>
                    <div class="products_block_info_price">
                        <p class="products_block_info_price_bold">{{product.RecPrice}}</p>
                        <p class="products_block_info_price_medium">(100 SWT)</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="mobile_products">

        <div class="mobile_products_container">
            {% for product in products %}
            <div class="mobile_products_block">
                <div class="mobile_products_block_button">
                    <a href="#"><img src="{% static 'img/like.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'img/repost.svg' %}" alt=""></a>
                </div>
                <div class="mobile_products_block_img">
                    <img src="{{product.RecPict.url}}" alt="">
                </div>
                <div class="mobile_products_block_desc">
                    <p class="mobile_products_block_desc_name">{{product.RecName}}</p>
                    <p class="mobile_products_block_desc_weight">{{product.RecWeight}}</p>
                </div>
                <div class="mobile_products_block_info">
                    <div class="mobile_products_block_info_amount">
                        <a href="#" class="mobile_product_minus">-</a>
                        <p class="mobile_product_amount">1</p>
                        <a href="#" class="mobile_product_plus">+</a>
                    </div>
                    <div class="mobile_products_block_info_price">
                        <p class="mobile_products_block_info_price_bold">{{product.RecPrice}}</p>
                        <p class="mobile_products_block_info_price_medium">(100 SWT)</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="mobile_products_button">
                <a href="#">Eще</a>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block scripts %}
    <script src = "https://code.jquery.com/jquery-latest.js"></script>
    <script src = "{% static 'js/slick.min.js' %}"></script>
    <script src = "{% static 'js/main.js' %}"></script>
{% endblock scripts %}