<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWT</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">


</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="wrap_menu">
                <div class="nav_container">
                    <div class="nav_logo">
                        <a href="{% url 'main:v1' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                    <div class="nav_catalog">
                        <a href="" id="open_catalog" class="open_catalog">Каталог</a>
                        <div class="nav_catalog_container" id="nav_catalog_container">
                            <div class="nav_catalog_container_img">
                                <img src="" alt="" id="catalog_img">
                            </div>
                            <div class="nav_catalog_container_href">
                                {% for category in categories %}
                                    <a href="/{{category.RecID}}/" id="{{category.slug}}">{{category.RecName}}</a><br>
                                {% endfor %}
                            </div>
                            <div class="close_catalog" id="close_catalog">Закрыть</div>
                        </div>
                    </div>
                    <div class="nav_control">
                        <form action="{% url 'main:search' %}" method="get">
                            <input type="search" placeholder="Найдите то, что хотите" name="q">
                            <button type="submit"><img src="{% static 'img/search.svg' %}" alt=""></button>
                        </form>
                        <a href="{%url 'profile'%}" class="nav_man"><img src="{% static 'img/man_menu.svg' %}" alt=""></a>

                        <a href="{% url 'cart:cart_detail' %}" class="nav_backet"><img src="{% static 'img/backet.svg' %}" alt=""></a>
                        <div class="nav_language">
                            <img src="{% static 'img/russia.svg' %}" id='first_img' alt="">
                            <p id="name_first">Ru</p>
                            <a href="#" id="language_arrow"><img src="{% static 'img/language_arrow.svg' %}" alt=""></a>
                            <div class="nav_language_container" id='nav_language_container'>
                                <div class="nav_second_language" id="nav_second_language">
                                    <img id='second_img' src="{% static 'img/lang-en.svg' %}" alt="">
                                    <p id="name_second">En</p>
                                </div>
                                <div class="nav_third_language" id="nav_third_language">
                                    <img src="{% static 'img/lang-ch.svg' %}" id='third_img' alt="">
                                    <p id="name_third">Ch</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="mobile_menu">
            <div class="mobile_menu_logo">
                <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
            </div>
            <div class="mobile_menu_nav">
                <span></span>
                <span class="middle_span"></span>
                <span></span>
            </div>
        </div>
        <div class="mobile_menu_block">
            <form action="">
                <input type="text" placeholder="Найдите то, что хотите">
                <button><img src="{% static 'img/search.svg' %}" alt=""></button>
            </form>
            <div class="mobile_menu_language">
                <div class="mobile_menu_language_item">
                    <img src="{% static 'img/russia.svg' %}" id='first_img' alt="">
                    <p id="name_first">Ru</p>
                </div>
                <div class="mobile_menu_language_item">
                    <img src="{% static 'img/lang-en.svg' %}" id='first_img' alt="">
                    <p id="name_first">En</p>
                </div>
                <div class="mobile_menu_language_item">
                    <img src="{% static 'img/lang-ch.svg' %}" id='first_img' alt="">
                    <p id="name_first">Ch</p>
                </div>
            </div>
            <div class="mobile_menu_href">
                <a href="catalog.html">Каталог</a>
                <a href="profile.html">Профиль</a>
                <a href="backet.html">Корзина</a>
            </div>
        </div>
        {% block main_image %}
        {% endblock main_image %}
    </header>
    {%block content%}
    {%endblock content%}
    <footer class="footer">
        <div class="wrap_main">
            <div class="footer_container">
                <div class="footer_info">
                    <img src="{% static 'img/logo2.png' %}" alt="">
                    <p>support-info@swt.ru</p>
                </div>
                <div class="footer_menu1">
                    <a href="#">Оплата</a><br>
                    <a href="#">Доставка</a><br>
                    <a href="#">Политика данных</a><br>
                </div>
                <div class="footer_menu2">
                    <a href="#">Техподдержка</a><br>
                    <a href="profile.html">Личный кабинет</a><br>
                    <a href="#">Акции и предложения</a><br>
                </div>
            </div>
            <div class="footer_item">
                <p>SWT, ©2022</p>
                <div class="footer_social">
                    <a href="" class="mail_icon_box">
                        <svg class="mail_icon">
                            <use xlink:href="{% static 'img/sprite.svg' %}#mail_icon"></use>
                        </svg>
                    </a>

                    <a href="" class="instagram_icon_box">
                        <svg class="instagram_icon">
                            <use xlink:href="{% static 'img/sprite.svg' %}#instagram_icon"></use>
                        </svg>
                    </a>

                    <a href="" class="telegram_icon_box">
                        <svg class="telegram_icon">
                            <use xlink:href="{% static 'img/sprite.svg' %}#telegram_icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    {% block scripts %}
    {% endblock scripts %}
    <script src = "https://code.jquery.com/jquery-latest.js"></script>
    <script src = "{% static 'js/slick.min.js' %}"></script>
    <script src = "{% static 'js/main.js' %}"></script>
</body>
</html>