{% extends 'base.html' %}
{% load static %}

{% block main_image %}
<div class="main_img"></div>
{% endblock main_image %}

{% block content %}
<div class="wrap_main">
    <section class="about_us">
        <div class="about_us_container">
            <div class="about_us_block">
                <h2>Просто!</h2>
                <p>Достаточно подробное описание акции, но так</p>
            </div>
            <div class="about_us_block">
                <h2>Недорого!</h2>
                <p>Достаточно подробное описание акции, но так</p>
            </div>
            <div class="about_us_block">
                <h2>Бесплатная доставка!</h2>
                <p>Достаточно подробное описание акции, но так</p>
            </div>
        </div>
    </section>
    <section class="main_category">
        <h2>Категории товаров</h2>
        <div class="main_category_container">
            {% for category in categories %}
                <div class="main_category_block">
                    <a href="/{{category.RecID}}/">
                        <div class="main_category_block_desc">
                            {{category.RecName}}
                        </div>
                        <div class="main_category_block_img">
                            <img src="{{category.RecPict.url}}" alt="">
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="mobile_main_category">
        <h2>Категории товаров</h2>
        <div class="mobile_main_category_container">
            {% for category in categories %}
                <div class="mobile_main_category_block">
                    <a href="/{{category.RecID}}/">
                        <div class="mobile_main_category_block_desc">
                            {{category.RecName}}
                        </div>
                        <div class="mobile_main_category_block_img">
                            <img src="{{category.RecPict.url}}" alt="">
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="products">
        {% for category in categories %}
        <h2>{{category.RecName}}</h2>
        <div class="products_container">
            {% for product in products %}
            {% if product.RecGroupId.RecParentGroupId.RecID == category.RecID %}
            <div class="products_block">
                <div class="products_block_button">
                    <a href="#"><img src="{% static 'img/like.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'img/repost.svg' %}" alt=""></a>
                </div>
                <div class="products_block_img">
                    <img src="{{product.RecPict.url}}" alt="">
                </div>
                <div class="products_block_desc">
                    <p class="products_block_desc_name">{{product.RecName}}</p>
                    <p class="products_block_desc_weight">{{product.RecWeight}}</p>
                </div>
                <div class="products_block_info">
                    <div class="products_block_info_amount">
                        <a href="#" class="product_minus">-</a>
                        <p class="product_amount">1</p>
                        <a href="#" class="product_plus">+</a>
                    </div>
                    <div class="products_block_info_price">
                        <p class="products_block_info_price_bold">{{product.RecPrice}}</p>
                        <p class="products_block_info_price_medium">(100 SWT)</p>
                    </div>
                </div>
            </div>
            {%endif%}
            {% endfor %}
        </div>
        {% endfor %}
    </section>

    <section class="mobile_products">

        {% for category in categories %}
        <h2>{{category.RecName}}</h2>
        <div class="mobile_products_container">
            {% for product in category.products.all %}
            <div class="mobile_products_block">
                <div class="mobile_products_block_button">
                    <a href="#"><img src="{% static 'img/like.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'img/repost.svg' %}" alt=""></a>
                </div>
                <div class="mobile_products_block_img">
                    <img src="{{product.RecPict.url}}" alt="">
                </div>
                <div class="mobile_products_block_desc">
                    <p class="mobile_products_block_desc_name">{{product.RecName}}</p>
                    <p class="mobile_products_block_desc_weight">{{product.RecWeight}}</p>
                </div>
                <div class="mobile_products_block_info">
                    <div class="mobile_products_block_info_amount">
                        <a href="#" class="mobile_product_minus">-</a>
                        <p class="mobile_product_amount">1</p>
                        <a href="#" class="mobile_product_plus">+</a>
                    </div>
                    <div class="mobile_products_block_info_price">
                        <p class="mobile_products_block_info_price_bold">{{product.RecPrice}}</p>
                        <p class="mobile_products_block_info_price_medium">(100 SWT)</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="mobile_products_button">
                <a href="#">Eще</a>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock content %}

{% block scripts %}
    <script src = "https://code.jquery.com/jquery-latest.js"></script>
    <script src = "{% static 'js/slick.min.js' %}"></script>
    <script src = "{% static 'js/main.js' %}"></script>
{% endblock scripts %}