{% load static %}
{% load widget_tweaks %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.container {
  position: relative;
  width: 350px;
  height: auto;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background: url("https://img.icons8.com/color/100/000000/twitter--v2.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: red;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  margin-top: 20px;
  background: red;
  color: white;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}
</style>
<!--<h1>Checkout</h1>-->
<!--<div class="order-info">-->
<!--    <h3>Your order</h3>-->
<!--    <ul>-->
<!--    {% for item in cart %}-->
<!--    <li>-->
<!--    {{ item.quantity }}x {{ item.product.RecName }}-->
<!--    <span>${{ item.total_price }}</span>-->
<!--    </li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--    <p>Total: ${{ cart.get_total_price }}</p>-->
<!--</div>-->

<!--<form action="." method="post" class="order-form">-->
<!--    {{ form.as_p }}-->
<!--    <p><input type="submit" value="Place order"></p>-->
<!--    {% csrf_token %}-->
<!-- </form>-->
<div class="container">
  <div class="{% static 'img/logo.png' %}"></div>
  <div class="brand-title">CHIFAN</div>
    <h3>Your order</h3>
    <ul>
    {% for item in cart %}
    <li style="text-align: left">
    {{ item.quantity }}x {{ item.product.RecName }}
    <span>${{ item.total_price }}</span>
    </li>
    {% endfor %}
    </ul>
    <h3>Total: ${{ cart.get_total_price }}</h3>
  <div class="inputs">

        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit">Order</button>
            </form>
      <p style="text-align:center;"><a href="{% url 'cart:cart_detail' %}">Back to cart</a></p>
  </div>
</div>