{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<h1>Thank you</h1>
<p>Your order has been successfully completed. Your order number is
<strong>{{ order.RecId }}</strong>.</p>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}